{#<h2><a href="{% url 'projects' %}">System for projects</a></h2>#}
{#<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis ipsa cumque ea tenetur autem incidunt voluptatem! Laudantium deleniti earum non esse explicabo animi iure possimus exercitationem ex? Numquam, voluptas cum!</p>#}
{#<hr>#}

<div class="navbar">
    <h1><span id="title_project">Book</span>land</h1>
    <ul>
        <li><a href="{% url 'items' 'book' %}">Books</a></li>
        <li><a href="{% url 'items' 'author' %}">Authors</a></li>
        <li><a href="{% url 'items' 'publisher' %}">Publishers</a></li>
    </ul>
</div>