{% extends 'main.html' %}

{% block content %}
    <h1 class="form-title">
        {% if action == 'project-create' %}
            Adding a new project
            <form method="post" action="{% url 'project-create' %}" enctype="multipart/form-data">
            </h1>
        {% else %}
            Updating a project
            </h1>
            <form method="post" action="{% url 'project-edit' form.instance.id %}" enctype="multipart/form-data">
        {% endif %}

        {% csrf_token %}

        {% for field in form %}

            <div class="label_field">
                <div class="label">{{ field.label }}</div>
                <div class="field">{{ field }}</div>
            <hr>    
            </div>

        {% endfor %}

    <button type="submit">Submit</button>
    </form>


{% endblock content%}
