.book {
    display: flex;
    justify-content: space-between;
    /*background-color: red;*/
}

table {
    border-collapse: collapse;
}

tr {
    border-collapse: collapse;
    border-bottom: 1px solid black;

}

td {
    padding: 1em;
}

button {
    margin: 1em;
    padding: 1em
}

.book_content {
    display: flex;
}

.right_photo {
    padding-right: 2em
}

.date, .author {
    color: #BCBABE;
    margin-bottom: .2em;
}