{#<h2><a href="{% url 'projects' %}">System for projects</a></h2>#}
{#<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis ipsa cumque ea tenetur autem incidunt voluptatem! Laudantium deleniti earum non esse explicabo animi iure possimus exercitationem ex? Numquam, voluptas cum!</p>#}
{#<hr>#}

<div class="navbar">
    <h1><span id="title_project">Project</span>land</h1>
    <ul>
        <li><a href="{% url 'projects' %}">List of all project</a></li>
        <li><a href="{% url 'project-create' %}">Add a new project</a></li>
        <li><a href="#">Contacts</a></li>
    </ul>
</div>