{% extends 'main.html' %}

{% block content %}

<h1>List of all PROJECTS</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Title</th>
        <th>Title</th>
    </tr>
    {% for project in projects %}
    <tr>
        <td><a href="{% url 'project-detail' project.id %}">{{ project.title }}</a></td>
        <td><a href="{% url 'project-edit' project.id %}">Edit</a></td>
        <td><a href="{% url 'project-delete' project.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<hr>    

<a href="{% url 'project-create' %}">Create a project</a>

{% endblock %}